<%= form_tag search_documents_path, method: :get do %>
  <div class="field">
    <%= text_field_tag :query, params[:query], placeholder: "Enter search term" %>
    <%= submit_tag "Search" %>
  </div>
<% end %>

<h1>Listing documents</h1>

<% if action_name == "search" %>
  <p>Search query: <%= params[:query] %></p>
<% end %>

<%= link_to 'New Document', new_document_path %>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @documents.each do |document| %>
  <tr>
    <td><%= document.title %></td>
    <td><%= link_to 'View/Download', document.doc.url, target: "_blank" %></td>
    <td><%= link_to 'Edit', edit_document_path(document) %></td>
    <td><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
<% if @documents.empty? %>
  <tr><td colspan="4">No documents found</td></tr>
<% end %>
</table>

<br />

<%= link_to 'New Document', new_document_path %>
